/*整体内容包含块*/

#container {
    width: 1200px;
    margin: 0 auto;
}

/*包裹层整体样式*/

.wrapper {
    overflow: hidden;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}

/*checkbox样式*/

.checkbox {
    line-height: 80px;
    float: left;
    width: 20px;
    height: 20px;
    margin: 25px 0 0 10px;
    border: 2px solid #d3d3d3;
    border-radius: 3px;
}

/*------------------------------------------*/

/*导航栏*/

#header {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header .wrapper {
    margin-bottom: -10px;
}

.nav {
    float: left;
    margin-left: 15px;
    padding: 0;
}

.nav li {
    font-family: '微软雅黑', serif;
    font-size: 14px;
    font-weight: bolder;
    line-height: 35px;
    position: relative;
    float: left;
    width: 100px;
    height: 35px;
    margin-right: 4px;
    text-align: center;
    color: #635d5d;
    border-radius: 3px;
    background-color: #e0e0e0;
}

.nav li:hover {
    font-weight: 700;
    color: #fff !important;
    background-color: #434343;
}

.nav li a:link, .nav li a:visited {
    color: #635d5d;
}

.nav li > a:hover {
    font-weight: 700;
    color: #fff !important;
    background-color: #434343;
}

/*二级列表*/

.nav-item-list {
    z-index: 5;
    margin: 0;
    padding: 0;
}

.nav-item-list li {
    margin: 1px 0;
}

/*搜索框*/

.search {
    font-family: '微软雅黑', serif;
    font-weight: bolder;
    width: 300px;
    height: 100px;
    margin-top: -9px;
    color: #000;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 10px #636363;
}

.search p {
    height: 30px;
    text-indent: 3em;
    color: #000;
}

/*-------------------内容区域---------------*/

/*内容整体包裹层*/

#content {
    font-family: '宋体', serif;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

.contact-name {
    line-height: 30px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    padding: 0;
}

.contact-name li:first-child a {
    font-size: 16px;
    color: #44a3c1;
}

.contact-info {
    float: left;
    overflow: hidden;
    margin-left: 200px;
}

.contact-info li {
    overflow: hidden;
    text-align: center;
}

.contact-info li > span {
    line-height: 30px;
    float: left;
    width: 50px;
    margin: 0 10px;
    text-align: center;
}

.contact-subscr {
    float: right;
    margin-right: 30px;
}

.contact-subscr li {
    line-height: 35px;
    float: left;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    border-radius: 3px;
    background-color: #e0e0e0;
}

.contact-subscr li:first-child {
    position: relative;
    overflow: hidden;
    width: 70px;
    margin: 10px 10px;
}

.contact-subscr li:first-child .icon-contact {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 35px;
    height: 24px;
    background-image: url(../img/contact.gif);
}

/*-------------------尾部区域---------------*/

#footer {
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.pagin-left {
    position: relative;
    float: left;
    margin-left: 30px;
}

.pagin-left p {
    float: left;
    width: 100px;
    border-radius: 3px;
}

.select-option {
    position: absolute;
    top: -130px;
    left: 100px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px #636363;
}

.select-option li {
    width: 300px;
    text-align: left;
    text-indent: 1em;
    border-radius: 3px;
    background-color: #fff;
}

.select-option li a:link, a:visited {
    color: #000;
}

.select-option li:hover {
    background-color: #0093dd;
}

.select-button {
    width: 50px;
    background-color: #e0e0e0;
}

.select-button:hover {
    font-weight: 700;
    color: #fff;
    background-color: #434343;
}

.pagin-right {
    float: right;
    overflow: hidden;
    height: 100%;
    margin-right: 50px;
}

.pagin-right span {
    line-height: 80px;
    display: inline-block;
    width: 90px;
    text-align: center;
}

.pagin-right  span.pagin-next, .pagin-right  span.pagin-prev {
    line-height: 35px;
    width: 50px;
    height: 35px;
    margin-left: 10px;
    text-align: center;
    border-radius: 3px;
    background-color: #e0e0e0;
}

.pagin-right  span.pagin-next:hover, .pagin-right  span.pagin-prev:hover {
    font-weight: 700;
    color: #fff;
    background-color: #434343;
}

/*---------弹出及关闭窗口/遮罩层---------*/

/*overlay*/

#overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: .3;
    background-color: #000;
}

/*增加联系人*/

.add-contact-info {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 600px;
    height: 350px;
    margin-top: -175px;
    margin-left: -300px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px #636363;
}

/*增加联系人头部样式*/

.add-contact-info h4 {
    line-height: 50px;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background-color: #e0e0e0;
}

/*增加联系人内容部分*/

.add-contact-info dl {
    font-family: '宋体', serif;
    font-size: 12px;
    width: 100%;
    margin: 10px 30px;
    padding: 0;
    list-style-type: none;
}

.add-contact-info dl input {
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px #080808, 1px 1px 1px #eee inset;
}

.add-contact-info dt {
    padding: 10px 0;
}

.add-contact-info dt > span {
    padding: 0 2px;
    color: #f00;
}

.add-contact-info dd {
    margin: 0;
    padding: 0;
}

/*增加联系人底部*/

.add-contact-info ul {
    overflow: hidden;
    padding-left: 30px;
}

/*删除联系人设置-- 未知宽高也可居中*/

.delete-contact-info {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px #636363;
}

.delete-contact-info h4 {
    line-height: 50px;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background-color: #e0e0e0;
}

.delete-contact-info > ul {
    font-family: '宋体', serif;
    font-size: 18px;
    overflow: hidden;
    width: 95%;
    margin: 10px 10px 10px -25px;
    pading: 0;
}

.delete-contact-info > ul li {
    border-bottom: 1px solid #d3d3d3;
}

/*设置列表ul和子元素均为第一个的效果*/

.delete-contact-info > ul li:first-child {
    font-family: '黑体', serif;
    line-height: 40px;
    height: 40px;
    background-color: #eee;
}

/*设置非第一个子元素的hover效果*/

.delete-contact-info > ul li:not(:first-child):hover {
    font-weight: bolder;
    text-align: center;
    background-color: #e0e0e0;
}

.delete-contact-info > ul li span {
    display: inline-block;
    width: 50%;
    text-align: left;
    text-indent: 2em;
}

/*删除联系人底部不变信息固定位置*/

.static-info-wrap {
    position: relative;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 130px;
}

.static-info-wrap p {
    text-indent: 3em;
}

.static-info-wrap .p-extra-indent {
    width: 300px;
    margin-left: 40px;
    text-indent: 4em;
}

#delete-checkbox-confirm {
    position: absolute;
    top: 23px;
    left: 45px;
}

.inline-block {
    display: inline-block;
}

.inline-block span {
    line-height: 35px;
    width: 20px;
    height: 35px;
    text-align: center;
}
