@charset "UTF-8";
/*
1. 变量用$声明
2. 默认变量在值后面加上 !default 即可。
3. 在宏,函数,选择器外的声明为全局变量,局部变量在其内

*/
body {
    line-height: 2;
}

.block {
    color: #feacda;
}

em a {
    color: red;
}

span {
    color: #feacda;
}

/*---------------------------------------*/
/*
sass嵌套分为三种:
1. 选择器嵌套
2. 属性嵌套
3. 伪类嵌套
*/
/*选择器嵌套*/
.wrap {
    display: inline-block;
}

.wrap a {
    text-decoration: none;
}

.wrap a button {
    background: #ccc;
}

/*属性嵌套*/
.wrap {
    border-left: 1px solid #ff0;
    border-right: 2px dotted #eea;
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
}

/*伪类嵌套--经典CSS Clearfix*/
/* &代表自身(作用的参数) */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    overflow: hidden;
}

/*
混合宏-声明混合宏
- 使用“@mixin”来声明一个混合宏,@include调用
- 混合宏支持不带参数,一个或者多个参数及默认参数
- 不管你用不用,都会生成写入的属性,一些参数建议用%来替代
*/
/*依次展示不带参数,一个参数,多个参数,默认参数的*/
.wrap1 {
    background: #fff;
}

.wrap2 {
    background-color: #feacda;
}

.wrap3 {
    background-color: #daecae;
    width: 500;
}

.wrap4 {
    width: 300px;
}

/*
extend--继承
与CSS的理念一致
*/
.btn, .btn-primary, .btn-second {
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 14px;
}

.btn-primary {
    background-color: #f36;
    color: #fff;
}

.btn-second {
    background-color: orange;
    color: #fff;
}

/*
 %placeholder 声明的代码，
 如果不被 @extend 调用的话，不会产生任何代码。
 减少代码冗余
 */
p {
    padding: 5px;
}

/*
插值(Interpolation)[迭代]
更加简洁明了的结构体系
@each类似JS的for..in
*/
.wrap {
    margin-left: 5px;
    padding-left: 5px;
}

/*-----------------------*/
/*
SASS数据类型
数字: 如，1、 2、 13、 10px；
字符串：有引号字符串或无引号字符串，如，"foo"、 'bar'、 baz；
颜色：如，blue、 #04a3f9、 rgba(255,0,0,0.5)；
布尔型：如，true、 false；
空值：如，null；
值列表：用空格或者逗号分开，如，1.5em 1em 0 2em 、 Helvetica, Arial, sans-serif。
算数运算也能将数字和颜色值一起运算
 */
/*加减乘除*/
.icon-twitter {
    background-postion: 0 -20;
    background-color: #070707;
    font-size: 6em;
    line-height: 15px;
}

.icon-facebook {
    background-postion: 0 -40;
    background-color: #070707;
    font-size: 6em;
    line-height: 15px;
}

.icon-github {
    background-postion: 0 -60;
    background-color: #070707;
    font-size: 6em;
    line-height: 15px;
}

.icon-weibo {
    background-postion: 0 -80;
    background-color: #070707;
    font-size: 6em;
    line-height: 15px;
}
